{#Конструктор#}
<div class="calc__wrap_2">
	<div class="wrap">
		<form class="calc" method="post" action="/catalog/view/theme/chocolana/calc.php" data-scroll="constructor">
			<h2>{{ text_constructor }}</h2>

			<div class="calc__box_type">
				<label class="js-calc-box-type" data-box-type="1">
					<input type="radio" name="calc__box_type" value="1" checked />
					<span>{{ text_big_box }}</span>
				</label>

				<label class="js-calc-box-type" data-box-type="2">
					<input type="radio" name="calc__box_type" value="2" />
					<span>{{ text_small_box }}</span>
				</label>
			</div>



			<div class="calc__desc">{{ text_calc_desc }}</div>



			<div class="calc__wrap">
				<div class="calc__options">
					<div class="calc__btns">
						<span data-btn="22" data-sweet-link="8" title="ПОРТОКАЛ"></span>
						<span data-btn="2" data-sweet-link="9" title="ЯГОДА"></span>
						<span data-btn="1" data-sweet-link="10" title="ЛИМОН"></span>
						<span data-btn="5" data-sweet-link="1" title="СЪРЦК ЧЕРВЕНО"></span>
						<span data-btn="7" data-sweet-link="16" title="С БОРОВИНКА"></span>

						<span data-btn="9" data-sweet-link="5" title="ЦВЕТЕ"></span>
						<span data-btn="12" data-sweet-link="6" title="OK"></span>
						<span data-btn="6" data-sweet-link="3" title="ЦЕЛУВКА"></span>
						<span data-btn="18" data-sweet-link="12" title="УСМИВКА"></span>
						<span data-btn="3" data-sweet-link="11" title="КУРКУМА"></span>

						<span data-btn="19" data-sweet-link="7" title="БЛЕСТЯЩ"></span>
						<span data-btn="4" data-sweet-link="13" title="С БАДЕМ"></span>
						<span data-btn="21" data-sweet-link="15" title="С БИСКВИТКА"></span>
						<span data-btn="23" data-sweet-link="17" title="С МАКОВО СЕМЕ"></span>
						<span data-btn="8" data-sweet-link="4" title="СЪРЦЕ БЯЛО"></span>

						<span data-btn="10" data-sweet-link="14" title="С КАФЕ"></span>
{#						<span data-btn="24" data-sweet-link="24" title="С СПИРУЛИНА"></span>#}

						<span class="calc__btns__helper"></span>
					</div>

					<div class="calc__price"><span class="js-calc-price">0</span>лв</div>
				</div>



				<div class="calc__layout js-calc-layout">
					<!--5x5-->
					<div class="calc__layout__wrap calc__layout_1 active" data-box-type="1" data-price="25">
						<div class="btn btn__close js-calc__clear" title="{{ text_clear }}">
							<span></span>
							<span></span>
						</div>

						<div class="calc__layout__boxes">
							<input type="hidden" name="product_id" value="51" />

							<input type="hidden" name="quantity" value="1" />



							{#1#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[262]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#2#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[259]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#3#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[263]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#4#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[260]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#5#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[261]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>



							{#6#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[258]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#7#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[264]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#8#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[265]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#9#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[266]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#10#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[257]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>



							{#11#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[256]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#12#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[267]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#13#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[255]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#14#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[268]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#15#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[269]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>



							{#16#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[270]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#17#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[271]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#18#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[272]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#19#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[273]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#20#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[274]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>



							{#21#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[275]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#22#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[276]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#23#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[277]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#24#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[278]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#25#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[279]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>
						</div>

						<label class="calc__submit">
							<span>{{ text_order_it }}</span>
							<input type="submit" value="{{ text_order_it }}" />
						</label>
					</div>



					<!--7x2-->
					<div class="calc__layout__wrap calc__layout_2" data-box-type="2" data-price="18">
						<div class="btn btn__close js-calc__clear" title="{{ text_clear }}">
							<span></span>
							<span></span>
						</div>

						<div class="calc__layout__boxes">
							<input type="hidden" name="product_id" value="54" />

							<input type="hidden" name="quantity" value="1" />



							{#1#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[281]" autocomplete="off" />

								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#2#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[280]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#3#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[282]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#4#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[283]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#5#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[284]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#6#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[285]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#7#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[286]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>



							{#8#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[287]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#9#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[288]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#10#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[289]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#11#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[290]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#12#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[291]" autocomplete="off" />

								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#13#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[292]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>

							{#14#}
							<div class="calc__box" data-type="">
								<input type="text" maxlength="1" name="option[293]" autocomplete="off" />
								<span class="calc__empty"><span></span><span></span></span>
							</div>
						</div>

						<label class="calc__submit">
							<span>{{ text_order_it }}</span>
							<input type="submit" value="{{ text_order_it }}" />
						</label>
					</div>
				</div>
			</div>



			<div class="calc__footer">
				<p class="text-center">
					{{ text_calc_footer }}
				</p>
			</div>
		</form>
	</div>
</div>


