<div class="footer">
	<div class="wrap">
		<div class="footer__wrap">
			<div class="footer__inst_wrap">
				<div class="inst_title">Instagram</div>

				<div class="inst_links">
					<a class="inst_links__link" href="//www.instagram.com/p/CquxHuPI5MO/" target="_blank"><img class="inst_links__img" src="/catalog/view/theme/chocolana/image/instagram/1.jpg" alt="" loading="lazy"></a>
					<a class="inst_links__link" href="//www.instagram.com/p/CpKiWucoJAx/" target="_blank"><img class="inst_links__img" src="/catalog/view/theme/chocolana/image/instagram/2.jpg" alt="" loading="lazy"></a>
					<a class="inst_links__link" href="//www.instagram.com/p/CqKrkSwIewL/" target="_blank"><img class="inst_links__img" src="/catalog/view/theme/chocolana/image/instagram/3.jpg" alt="" loading="lazy"></a>
					<a class="inst_links__link" href="//www.instagram.com/p/Cq4_kREoR3n/" target="_blank"><img class="inst_links__img" src="/catalog/view/theme/chocolana/image/instagram/4.jpg" alt="" loading="lazy"></a>
				</div>
			</div>

			<div class="footer__contacts">
				<a class="js-phone" href="javascript:void(0);">{{ telephone }}</a>

				<a href="mailto:info@chocolana.com" target="_blank">info@chocolana.com</a>

				<a class="footer__place" href="javascript:void(0);">{{ text_bulgaria_blagoevgrad }}</a>

				<div class="text-center">
					<span class="footer__cooperation js-popup_cooperation">{{ text_cooperation }}</span>
				</div>
			</div>

			<div class="footer__social_wrap">
				<div class="footer__social">
					<a href="viber://chat?number=+359988337310" title="viber"><img src="/image/icons/viber.svg" alt="viber" loading="lazy"></a>
					<a href="//www.facebook.com/chocolana.bg/" target="_blank" title="facebook"><img src="/image/icons/fb.svg" alt="facebook" loading="lazy"></a>
					<a href="//www.instagram.com/chocolana_bg/" target="_blank" title="instagram"><img src="/image/icons/inst.svg" alt="instagram" loading="lazy"></a>
					<a href="//api.whatsapp.com/send?phone=359988337310" title="whatsapp" target="_blank"><img src="/image/icons/whatsapp.svg" alt="whatsapp" loading="lazy"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="powered_by">
	powered by <a class="powered_by__link" href="//foxartbox.com/" target="_blank">foxartbox.com</a> <img class="powered_by__img" src="/catalog/view/theme/chocolana/image/logo_fox.svg" alt="" loading="lazy">
</div>

<div class="cookies">{{ text_cookies }}</div>

<div class="popup_order__loading">
	<div class="popup_order__bg"></div>

	<div class="popup_order__img">
		<img src="/image/icons/loading.svg" alt="please wait..." loading="lazy">
	</div>

	<div class="popup_order__content">
		<p>{{ text_thank_you_for_order }}</p>

		<div class="popup_order__close">
			<div class="btn btn__close">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</div>

<div class="popup_error">
	<div class="popup_error__bg"></div>

	<div class="popup_error__content">
		<p>{{ text_order_error }}</p>

		<div class="popup_error__close">
			<div class="btn btn__close">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</div>

<div class="popup_cooperation">
	<div class="popup_cooperation__bg js-popup_cooperation"></div>

	<div class="popup_cooperation__content_wrap">
		<div class="btn btn__close js-popup_cooperation">
			<span></span>
			<span></span>
		</div>

		<div class="popup_cooperation__content">
			<h2>Заголовок</h2>

			<p>Текст о сотрудничестве</p>
		</div>
	</div>
</div>

<div class="popup_incognito">
	<div class="popup_incognito__bg js-popup_incognito__close"></div>

	<div class="popup_incognito__content">
		<div class="btn btn__close js-popup_incognito__close">
			<span></span>
			<span></span>
		</div>

		<p>{{ text_incognito }}</p>
	</div>
</div>

{# all scripts in one file with GULP#}
<script src="/catalog/view/theme/chocolana/all.min.js?v{{ "now"|date("Ymd") }}"></script>

</body>
</html>