{{ header }}

{{ column_left }}
{{ content_top }}
{{ content_bottom }}
{{ column_right }}

{# слайдер в первом блоке #}
<div class="about_us" data-scroll="about_us">
	<div class="owl-carousel">
		{#1#}
		<div class="about_us__item">
			<div class="about_us__bg"></div>

			<div class="about_us__desc_wrap about_us__desc_wrap_1"><img src="/image/logo2.svg" alt=""></div>

			<img class="about_us__img js-img-scroll" src="/image/dumm.png" data-src="/image/home_slider/1.jpg" alt="" loading="lazy">
		</div>

		<div class="about_us__item">
			<img class="about_us__img js-img-scroll" src="/image/dumm.png" data-src="/image/home_slider/2.jpg" alt="" loading="lazy">
		</div>

		<div class="about_us__item">
			<img class="about_us__img js-img-scroll" src="/image/dumm.png" data-src="/image/home_slider/3.jpg" alt="" loading="lazy">
		</div>

		<div class="about_us__item">
			<img class="about_us__img js-img-scroll" src="/image/dumm.png" data-src="/image/home_slider/4.jpg" alt="" loading="lazy">
		</div>

		<div class="about_us__item">
			<img class="about_us__img js-img-scroll" src="/image/dumm.png" data-src="/image/home_slider/5.jpg" alt="" loading="lazy">
		</div>
	</div>
</div>

<hr class="hr_1">

{# Преимущества #}
<div class="advantages" data-scroll="advantages">
	<div class="advantages__wrap2">
		<div class="wrap">
			<h2>{{ text_advantages }}</h2>

			<div class="advantages__wrap">
				<div class="advantages__left">
					<div class="advantages__item">
						{{ text_advantages__desc_1 }}

						<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/advantages/1.svg" alt="" loading="lazy">
					</div>

					<div class="advantages__item">
						{{ text_advantages__desc_2 }}

						<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/advantages/2.svg" alt="" loading="lazy">
					</div>

					<div class="advantages__item">
						{{ text_advantages__desc_3 }}

						<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/advantages/3.svg" alt="" loading="lazy">
					</div>
				</div>

				<div class="js-bg_img_scroll" data-src="advantages__bg"></div>

				<div class="advantages__right">
					<div class="advantages__item">
						{{ text_advantages__desc_4 }}

						<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/advantages/4.svg" alt="" loading="lazy">
					</div>

					<div class="advantages__item">
						{{ text_advantages__desc_5 }}

						<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/advantages/5.svg" alt="" loading="lazy">
					</div>

					<div class="advantages__item">
						{{ text_advantages__desc_6 }}

						<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/advantages/6.svg" alt="" loading="lazy">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr class="hr_1">

{# Ассортимент #}
<div class="assortment" data-scroll="assortment">
	<div class="assortment__wrap">
		<div class="wrap">
			<h2>{{ text_assortment }}</h2>

			<div class="assortment__list" data-scroll="assortment">
				{# Сърце червено #}
				<div class="assortment__item" data-sweet="1">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/1_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Сърце червено</span>
					<span class="assortment__item_desc">белгийски млечен<br>шоколад</span>
				</div>

				{# Буква #}
				<div class="assortment__item" data-sweet="2">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/2_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Буква</span>
					<span class="assortment__item_desc">белгийски млечен<br>шоколад</span>
				</div>

				{# Целувка #}
				<div class="assortment__item" data-sweet="3">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/3_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Целувка</span>
					<span class="assortment__item_desc">белгийски млечен<br>шоколад</span>
				</div>

				{# Сърце бяло #}
				<div class="assortment__item" data-sweet="4">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/4_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Сърце бяло</span>
					<span class="assortment__item_desc">белгийски млечен<br>шоколад</span>
				</div>

				{# Цвете #}
				<div class="assortment__item" data-sweet="5">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/5_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Цвете</span>
					<span class="assortment__item_desc">белгийски млечен<br>шоколад</span>
				</div>

				{# OK #}
				<div class="assortment__item" data-sweet="6">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/6_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">OK</span>
					<span class="assortment__item_desc">белгийски млечен<br>шоколад</span>
				</div>

				{# Блестящ #}
				<div class="assortment__item" data-sweet="7">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/7_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Блестящ</span>
					<span class="assortment__item_desc">белгийски млечен<br>шоколад със<br>сладкарска боя</span>
				</div>

				{# Портокал #}
				<div class="assortment__item" data-sweet="8">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/8_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Портокал</span>
					<span class="assortment__item_desc">белгийски млечен<br>бял шоколад<br>с вкус портокал</span>
				</div>

				{# Ягода #}
				<div class="assortment__item" data-sweet="9">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/9_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Ягода</span>
					<span class="assortment__item_desc">белгийски млечен<br>бял шоколад<br>с вкус ягода</span>
				</div>

				{# Лимон #}
				<div class="assortment__item" data-sweet="10">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/10_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Лимон</span>
					<span class="assortment__item_desc">белгийски млечен<br>бял шоколад<br>с вкус лимон</span>
				</div>

				{# Куркума #}
				<div class="assortment__item" data-sweet="11">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/11_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Куркума</span>
					<span class="assortment__item_desc">белгийски млечен<br>бял шоколад<br>с куркума</span>
				</div>

				{# Усмивка #}
				<div class="assortment__item" data-sweet="12">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/12_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">Усмивка</span>
					<span class="assortment__item_desc">белгийски млечен<br>бял шоколад</span>
				</div>

				{# С бадем #}
				<div class="assortment__item" data-sweet="13">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/13_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">С бадем</span>
					<span class="assortment__item_desc">белгийски млечен<br>бял шоколад<br>с бадем</span>
				</div>

				{# С кафе #}
				<div class="assortment__item" data-sweet="14">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/14_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">С кафе</span>
					<span class="assortment__item_desc">белгийски тъмен<br>шоколад<br>с кафе</span>
				</div>

				{# С бисквитка #}
				<div class="assortment__item" data-sweet="15">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/15_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">С бисквитка</span>
					<span class="assortment__item_desc">белгийски млечен<br>шоколад<br>с бисквитка</span>
				</div>

				{# С боровинка #}
				<div class="assortment__item" data-sweet="16">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/16_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">С боровинка</span>
					<span class="assortment__item_desc">белгийски млечен<br>бял шоколад<br>с боровинка</span>
				</div>

				{# С маково семе #}
				<div class="assortment__item" data-sweet="17">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/17_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">С маково семе</span>
					<span class="assortment__item_desc">бял белгийски шоколад<br>и маковото семе</span>
				</div>

				{# С спирулина #}
				<div class="assortment__item" data-sweet="24">
					<img class="js-img-scroll" src="/image/dumm.png" data-src="/image/sweets_photo/24_retina.jpg" alt="" loading="lazy">
					<span class="assortment__item_title">спирулина</span>
					<span class="assortment__item_desc">белгийски шоколад<br>и спирулина</span>
				</div>

				<div class="assortment__item_helper"></div>
			</div>
		</div>
	</div>
</div>

<div class="assortment_modal">
	<div class="assortment_modal__wrap">
		<div class="btn btn__close js-assortment_modal__close">
			<span></span>
			<span></span>
		</div>

		<div class="assortment_modal__content"></div>
	</div>
</div>

<hr class="hr_1">

{# наборы #}
{% include '/chocolana/template/common/sets.twig' %}

<hr class="hr_1">

{# Конструктор #}
{% include '/chocolana/template/common/calc.twig' %}

{# Корзина #}
<div class="block_cart" data-scroll="cart">
	<div class="wrap">
		<h2>{{ text_cart_new }}</h2>

		<div class="block_cart__wrap"></div>
	</div>
</div>

{# Оформление заказа #}
<div class="block_checkout">
	<div class="wrap">
		<form action="/" method="post">
			<label class="block_checkout__input">
				<input type="text" placeholder="{{ text_name }}" name="block_checkout__name">
			</label>

			<label class="block_checkout__input">
				<input type="text" placeholder="{{ text_name_2 }}" name="block_checkout__name_2">
			</label>

			<label class="block_checkout__input">
				<input type="text" placeholder="{{ text_phone }}" name="block_checkout__phone">
			</label>

			<label class="block_checkout__input">
				<input type="text" placeholder="{{ text_email }}" name="block_checkout__email">
			</label>

			<label class="block_checkout__input">
				<input type="text" placeholder="{{ text_delivery_date }}" name="block_checkout__date">
			</label>

			{# surprise delivery #}
			<div class="block_checkout__delivery_surprise">
				<label class="block_checkout__checkbox js-block_checkout__delivery_surprise">
					<input type="checkbox" name="block_checkout__delivery_surprise" value="1">

					<span class="block_checkout__box"><span></span></span>

					<span class="block_checkout__desc">{{ text_delivery_surprise }}</span>
				</label>

				<div class="block_checkout__delivery_surprise__desc js-block_checkout__delivery_surprise__desc">
					<p>
						{{ text_delivery_surprise__desc }}
					</p>

					<label class="block_checkout__input">
						<input class="block_checkout__delivery_surprise__email js-block_checkout__delivery_surprise__name" type="text" name="block_checkout__delivery_surprise__name" placeholder="{{ text_delivery_surprise__name }}">
					</label>

					<label class="block_checkout__input">
						<input class="block_checkout__delivery_surprise__phone js-block_checkout__delivery_surprise__phone" type="text" name="block_checkout__delivery_surprise__phone" placeholder="{{ text_delivery_surprise__phone }}">
					</label>
				</div>
			</div>

			{# delivery #}
			<div class="block_checkout__delivery">
				{#<div class="block_checkout__title"><span>Доставка</span></div>#}

				<label class="block_checkout__radio js-block_checkout__delivery_type" data-delivery-type="1">
					<input type="radio" name="block_checkout__delivery_type" value="1" checked="checked">

					<span class="block_checkout__box"><span></span></span>

					<span class="block_checkout__desc">{{ text_delivery_to_ekont }}</span>
				</label>

				<label class="block_checkout__radio js-block_checkout__delivery_type js-delivery-to-address" data-delivery-type="2">
					<input type="radio" name="block_checkout__delivery_type" value="2">

					<span class="block_checkout__box"><span></span></span>

					<span class="block_checkout__desc">{{ text_delivery_to_address }}</span>
				</label>

				<div class="block_checkout__delivery_desc_special">
					{{ text_delivery_special }}
				</div>

				<div class="block_checkout__delivery_desc" data-delivery-type="1">
					<label class="block_checkout__input">
						<input class="block_checkout__ekont js-ekont-autocomplete" type="text" name="block_checkout__ekont" placeholder="{{ text_office_ekont }}">
					</label>

					<p>{{ text_office_ekont_desc }}</p>
				</div>

				<div class="block_checkout__delivery_desc" data-delivery-type="2">
					<label class="block_checkout__input">
						<input type="text" name="block_checkout__city" placeholder="{{ text_city }}">
					</label>

					<label class="block_checkout__input">
						<input type="text" name="block_checkout__street" placeholder="{{ text_street }}">
					</label>

					<label class="block_checkout__input">
						<input type="text" name="block_checkout__house" placeholder="{{ text_house_number }}">
					</label>
				</div>

				<input type="hidden" name="block_checkout__delivery_address" value="">
			</div>

			{#payment#}
			<div class="block_checkout__payment">
				<label class="block_checkout__radio js-block_checkout__payment_type" data-payment-type="1">
					<input type="radio" name="block_checkout__payment_type" value="1">

					<span class="block_checkout__box"><span></span></span>

					<span class="block_checkout__desc">{{ text_payment_ekont }}</span>
				</label>

				<label class="block_checkout__radio js-block_checkout__payment_type" data-payment-type="2">
					<input type="radio" name="block_checkout__payment_type" value="2">

					<span class="block_checkout__box"><span></span></span>

					<span class="block_checkout__desc">{{ text_payment_bank }}</span>
				</label>

				<div class="block_checkout__payment_desc" data-payment-type="1">
					{{ text_payment_ekont_desc }}
				</div>

				<div class="block_checkout__payment_desc" data-payment-type="2">
					{{ text_payment_bank_desc }}
				</div>
			</div>

			{#comment#}
			<div class="block_checkout__comment__wrap">
				<textarea id="block_checkout__comment" name="block_checkout__comment"></textarea>

				<div class="block_checkout__comment__desc">{{ text_your_comment }}</div>
			</div>

			{#total#}
			<div class="block_checkout__total block_checkout__total_products">
				<span class="block_checkout__total_title">{{ text_order_total }}</span>
				<span class="block_checkout__total_number">0</span> лв
			</div>

			<div class="block_checkout__total block_checkout__total_delivery">
				<span class="block_checkout__total_title">{{ text_delivery }}</span>
				<span class="block_checkout__total_number">0</span> лв
			</div>

			<div class="block_checkout__total block_checkout__total_final">
				<span class="block_checkout__total_title">{{ text_total_2 }}</span>
				<span class="block_checkout__total_number">0</span> лв
			</div>

			{# privacy #}
			<label class="block_checkout__checkbox">
				<input type="checkbox" name="block_checkout__privacy" value="1">

				<span class="block_checkout__box"><span></span></span>

				<span class="block_checkout__desc">Съгласен съм с <a href="/tmp/privacy.html" target="_blank">общи условията в сайта</a> и <a href="/tmp/info_rights.html" target="_blank">условията за лични данни</a></span>
			</label>



			<label class="block_checkout__submit">
				<input type="submit" value="{{ text_order_it }}" onclick="fbq('track', 'checkoutSubmit');">
				{{ text_order_it }}
			</label>
		</form>
	</div>
</div>

<div class="hidden">
	<div class="checkout__iframe">
		<div class="wrap">
			<div class="checkout__ajax_btn"></div>

			<div class="checkout__ajax"></div>
		</div>
	</div>
</div>

{# popup при добавлении товара в корзину #}
<div class="product_added_to_cart">
	<div class="product_added_to_cart__bg js-product_added_to_cart__close"></div>

	<div class="product_added_to_cart__content">
		<div class="btn btn__close js-product_added_to_cart__close">
			<span></span>
			<span></span>
		</div>

		{{ text_product_added_in }} <a class="js-product_added_to_cart__close js-scroll_to" href="javascript:void(0);" data-link="cart">{{ text_product_added_in_cart }}</a>
	</div>
</div>

{{ footer }}