{#наборы#}
<div class="sets" data-scroll="sets">
	<div class="sets__wrap">
		<div class="sets__title">
			<h2>{{ text_small_box }}</h2>

			<div class="subtitle">14 {{ text_pieces }} / 30 {{ text_lev }}</div>
		</div>

		<div class="sets__list">
			<div class="owl-carousel">
				{#1 Антония#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="3" />

						<input type="hidden" name="option[301]" value="а" />
						<input type="hidden" name="option[300]" value="н" />
						<input type="hidden" name="option[299]" value="т" />
						<input type="hidden" name="option[302]" value="о" />
						<input type="hidden" name="option[298]" value="н" />
						<input type="hidden" name="option[303]" value="и" />
						<input type="hidden" name="option[297]" value="я" />

						<input type="hidden" name="option[304]" value="data_btn__22" />
						<input type="hidden" name="option[296]" value="data_btn__9" />
						<input type="hidden" name="option[305]" value="data_btn__2" />
						<input type="hidden" name="option[295]" value="data_btn__8" />
						<input type="hidden" name="option[306]" value="data_btn__3" />
						<input type="hidden" name="option[294]" value="data_btn__6" />
						<input type="hidden" name="option[307]" value="data_btn__1" />
					</div>

{#					<img class="js-retina" src="/image/sets_small/1s.jpg" alt="Антония" data-img="/image/sets_small/1.jpg" />#}
					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/1s_retina.jpg" alt="Антония" data-img="/image/sets_small/1.jpg" />

					<div class="sets__item_title">Антония</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#2 много късмет#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="data_btn__1" />
						<input type="hidden" name="option[300]" value="м" />
						<input type="hidden" name="option[299]" value="н" />
						<input type="hidden" name="option[302]" value="о" />
						<input type="hidden" name="option[298]" value="г" />
						<input type="hidden" name="option[303]" value="о" />
						<input type="hidden" name="option[297]" value="data_btn__22" />

						<input type="hidden" name="option[304]" value="data_btn__2" />
						<input type="hidden" name="option[296]" value="к" />
						<input type="hidden" name="option[305]" value="ъ" />
						<input type="hidden" name="option[295]" value="с" />
						<input type="hidden" name="option[306]" value="м" />
						<input type="hidden" name="option[294]" value="е" />
						<input type="hidden" name="option[307]" value="т" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/2s_retina.jpg" alt="много късмет" data-img="/image/sets_small/2.jpg" />

					<div class="sets__item_title">много късмет</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#3 много успех#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="м" />
						<input type="hidden" name="option[300]" value="н" />
						<input type="hidden" name="option[299]" value="о" />
						<input type="hidden" name="option[302]" value="г" />
						<input type="hidden" name="option[298]" value="о" />
						<input type="hidden" name="option[303]" value="data_btn__1" />
						<input type="hidden" name="option[297]" value="data_btn__12" />

						<input type="hidden" name="option[304]" value="data_btn__22" />
						<input type="hidden" name="option[296]" value="data_btn__4" />
						<input type="hidden" name="option[305]" value="у" />
						<input type="hidden" name="option[295]" value="с" />
						<input type="hidden" name="option[306]" value="п" />
						<input type="hidden" name="option[294]" value="е" />
						<input type="hidden" name="option[307]" value="х" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/3s_retina.jpg" alt="много успех" data-img="/image/sets_small/3.jpg" />

					<div class="sets__item_title">много успех</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#4 обич моя#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="data_btn__4" />
						<input type="hidden" name="option[300]" value="о" />
						<input type="hidden" name="option[299]" value="б" />
						<input type="hidden" name="option[302]" value="и" />
						<input type="hidden" name="option[298]" value="ч" />
						<input type="hidden" name="option[303]" value="data_btn__8" />
						<input type="hidden" name="option[297]" value="data_btn__6" />

						<input type="hidden" name="option[304]" value="data_btn__5" />
						<input type="hidden" name="option[296]" value="data_btn__1" />
						<input type="hidden" name="option[305]" value="м" />
						<input type="hidden" name="option[295]" value="о" />
						<input type="hidden" name="option[306]" value="я" />
						<input type="hidden" name="option[294]" value="data_btn__2" />
						<input type="hidden" name="option[307]" value="data_btn__7" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/4s_retina.jpg" alt="обич моя" data-img="/image/sets_small/4.jpg" />

					<div class="sets__item_title">обич моя</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#5 благодаря#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="б" />
						<input type="hidden" name="option[300]" value="л" />
						<input type="hidden" name="option[299]" value="а" />
						<input type="hidden" name="option[302]" value="г" />
						<input type="hidden" name="option[298]" value="о" />
						<input type="hidden" name="option[303]" value="data_btn__9" />
						<input type="hidden" name="option[297]" value="data_btn__4" />

						<input type="hidden" name="option[304]" value="data_btn__9" />
						<input type="hidden" name="option[296]" value="data_btn__7" />
						<input type="hidden" name="option[305]" value="д" />
						<input type="hidden" name="option[295]" value="а" />
						<input type="hidden" name="option[306]" value="р" />
						<input type="hidden" name="option[294]" value="я" />
						<input type="hidden" name="option[307]" value="data_btn__8" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/5s_retina.jpg" alt="благодаря" data-img="/image/sets_small/5.jpg" />

					<div class="sets__item_title">благодаря</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#6 чид татко#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="data_btn__4" />
						<input type="hidden" name="option[300]" value="data_btn__1" />
						<input type="hidden" name="option[299]" value="ч" />
						<input type="hidden" name="option[302]" value="и" />
						<input type="hidden" name="option[298]" value="д" />
						<input type="hidden" name="option[303]" value="data_btn__3" />
						<input type="hidden" name="option[297]" value="data_btn__7" />

						<input type="hidden" name="option[304]" value="data_btn__6" />
						<input type="hidden" name="option[296]" value="т" />
						<input type="hidden" name="option[305]" value="а" />
						<input type="hidden" name="option[295]" value="т" />
						<input type="hidden" name="option[306]" value="к" />
						<input type="hidden" name="option[294]" value="о" />
						<input type="hidden" name="option[307]" value="data_btn__8" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/6s_retina.jpg" alt="чид татко" data-img="/image/sets_small/6.jpg" />

					<div class="sets__item_title">чид татко</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#7 чрд мамо#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="data_btn__4" />
						<input type="hidden" name="option[300]" value="data_btn__9" />
						<input type="hidden" name="option[299]" value="ч" />
						<input type="hidden" name="option[302]" value="р" />
						<input type="hidden" name="option[298]" value="д" />
						<input type="hidden" name="option[303]" value="data_btn__9" />
						<input type="hidden" name="option[297]" value="data_btn__1" />

						<input type="hidden" name="option[304]" value="data_btn__3" />
						<input type="hidden" name="option[296]" value="м" />
						<input type="hidden" name="option[305]" value="а" />
						<input type="hidden" name="option[295]" value="м" />
						<input type="hidden" name="option[306]" value="о" />
						<input type="hidden" name="option[294]" value="data_btn__8" />
						<input type="hidden" name="option[307]" value="data_btn__2" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/7s_retina.jpg" alt="чрд мамо" data-img="/image/sets_small/7.jpg" />

					<div class="sets__item_title">чрд мамо</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#8 живи и здрави#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="ж" />
						<input type="hidden" name="option[300]" value="и" />
						<input type="hidden" name="option[299]" value="в" />
						<input type="hidden" name="option[302]" value="и" />
						<input type="hidden" name="option[298]" value="data_btn__1" />
						<input type="hidden" name="option[303]" value="и" />
						<input type="hidden" name="option[297]" value="data_btn__22" />

						<input type="hidden" name="option[304]" value="data_btn__2" />
						<input type="hidden" name="option[296]" value="з" />
						<input type="hidden" name="option[305]" value="д" />
						<input type="hidden" name="option[295]" value="р" />
						<input type="hidden" name="option[306]" value="а" />
						<input type="hidden" name="option[294]" value="в" />
						<input type="hidden" name="option[307]" value="и" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/8s_retina.jpg" alt="живи и здрави" data-img="/image/sets_small/8.jpg" />

					<div class="sets__item_title">живи и здрави</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#9 принцеса#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="п" />
						<input type="hidden" name="option[300]" value="р" />
						<input type="hidden" name="option[299]" value="и" />
						<input type="hidden" name="option[302]" value="н" />
						<input type="hidden" name="option[298]" value="data_btn__7" />
						<input type="hidden" name="option[303]" value="data_btn__2" />
						<input type="hidden" name="option[297]" value="data_btn__9" />

						<input type="hidden" name="option[304]" value="data_btn__8" />
						<input type="hidden" name="option[296]" value="data_btn__2" />
						<input type="hidden" name="option[305]" value="data_btn__6" />
						<input type="hidden" name="option[295]" value="ц" />
						<input type="hidden" name="option[306]" value="е" />
						<input type="hidden" name="option[294]" value="с" />
						<input type="hidden" name="option[307]" value="а" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/9s_retina.jpg" alt="принцеса" data-img="/image/sets_small/9.jpg" />

					<div class="sets__item_title">принцеса</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#10 чрд любов#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="data_btn__2" />
						<input type="hidden" name="option[300]" value="data_btn__8" />
						<input type="hidden" name="option[299]" value="ч" />
						<input type="hidden" name="option[302]" value="р" />
						<input type="hidden" name="option[298]" value="д" />
						<input type="hidden" name="option[303]" value="data_btn__4" />
						<input type="hidden" name="option[297]" value="data_btn__2" />

						<input type="hidden" name="option[304]" value="data_btn__9" />
						<input type="hidden" name="option[296]" value="л" />
						<input type="hidden" name="option[305]" value="ю" />
						<input type="hidden" name="option[295]" value="б" />
						<input type="hidden" name="option[306]" value="о" />
						<input type="hidden" name="option[294]" value="в" />
						<input type="hidden" name="option[307]" value="data_btn__6" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/10s_retina.jpg" alt="чрд любов" data-img="/image/sets_small/10.jpg" />

					<div class="sets__item_title">чрд любов</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#11 кажи ми да#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="к" />
						<input type="hidden" name="option[300]" value="а" />
						<input type="hidden" name="option[299]" value="ж" />
						<input type="hidden" name="option[302]" value="и" />
						<input type="hidden" name="option[298]" value="data_btn__4" />
						<input type="hidden" name="option[303]" value="м" />
						<input type="hidden" name="option[297]" value="и" />

						<input type="hidden" name="option[304]" value="data_btn__1" />
						<input type="hidden" name="option[296]" value="data_btn__22" />
						<input type="hidden" name="option[305]" value="д" />
						<input type="hidden" name="option[295]" value="а" />
						<input type="hidden" name="option[306]" value="data_btn__8" />
						<input type="hidden" name="option[294]" value="data_btn__3" />
						<input type="hidden" name="option[307]" value="data_btn__2" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/11s_retina.jpg" alt="кажи ми да" data-img="/image/sets_small/11.jpg" />

					<div class="sets__item_title">кажи ми да</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#12 зайо моя#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="55" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[301]" value="data_btn__4" />
						<input type="hidden" name="option[300]" value="з" />
						<input type="hidden" name="option[299]" value="а" />
						<input type="hidden" name="option[302]" value="й" />
						<input type="hidden" name="option[298]" value="о" />
						<input type="hidden" name="option[303]" value="data_btn__8" />
						<input type="hidden" name="option[297]" value="data_btn__7" />

						<input type="hidden" name="option[304]" value="data_btn__1" />
						<input type="hidden" name="option[296]" value="data_btn__9" />
						<input type="hidden" name="option[305]" value="м" />
						<input type="hidden" name="option[295]" value="о" />
						<input type="hidden" name="option[306]" value="я" />
						<input type="hidden" name="option[294]" value="data_btn__9" />
						<input type="hidden" name="option[307]" value="data_btn__3" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_small/12s_retina.jpg" alt="зайо моя" data-img="/image/sets_small/12.jpg" />

					<div class="sets__item_title">зайо моя</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>
			</div>
		</div>
	</div>
</div>



<hr class="hr_1" />



<div class="sets">
	<div class="sets__wrap">
		<div class="sets__title">
			<h2>{{ text_big_box }}</h2>

			<div class="subtitle">25 {{ text_pieces }} / 38 {{ text_lev }}</div>
		</div>

		<div class="sets__list">
			<div class="owl-carousel">
				{#1 за най добра та жена#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="data_btn__22" />
						<input type="hidden" name="option[321]" value="з" />
						<input type="hidden" name="option[313]" value="а" />
						<input type="hidden" name="option[318]" value="data_btn__9" />
						<input type="hidden" name="option[314]" value="data_btn__1" />

						<input type="hidden" name="option[319]" value="data_btn__4" />
						<input type="hidden" name="option[312]" value="н" />
						<input type="hidden" name="option[317]" value="а" />
						<input type="hidden" name="option[310]" value="й" />
						<input type="hidden" name="option[316]" value="data_btn__4" />

						<input type="hidden" name="option[311]" value="д" />
						<input type="hidden" name="option[315]" value="о" />
						<input type="hidden" name="option[309]" value="б" />
						<input type="hidden" name="option[308]" value="р" />
						<input type="hidden" name="option[324]" value="а" />

						<input type="hidden" name="option[323]" value="data_btn__2" />
						<input type="hidden" name="option[325]" value="data_btn__7" />
						<input type="hidden" name="option[326]" value="т" />
						<input type="hidden" name="option[327]" value="а" />
						<input type="hidden" name="option[328]" value="data_btn__3" />

						<input type="hidden" name="option[329]" value="ж" />
						<input type="hidden" name="option[330]" value="е" />
						<input type="hidden" name="option[331]" value="н" />
						<input type="hidden" name="option[332]" value="а" />
						<input type="hidden" name="option[322]" value="data_btn__5" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/1s_retina.jpg" alt="за най добра та жена" data-img="/image/sets_big/1.jpg" />

					<div class="sets__item_title">за най добра та жена</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#2 обичам те#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="data_btn__4" />
						<input type="hidden" name="option[321]" value="data_btn__3" />
						<input type="hidden" name="option[313]" value="data_btn__2" />
						<input type="hidden" name="option[318]" value="data_btn__1" />
						<input type="hidden" name="option[314]" value="data_btn__7" />

						<input type="hidden" name="option[319]" value="о" />
						<input type="hidden" name="option[312]" value="б" />
						<input type="hidden" name="option[317]" value="и" />
						<input type="hidden" name="option[310]" value="data_btn__10" />
						<input type="hidden" name="option[316]" value="data_btn__6" />

						<input type="hidden" name="option[311]" value="data_btn__9" />
						<input type="hidden" name="option[315]" value="ч" />
						<input type="hidden" name="option[309]" value="а" />
						<input type="hidden" name="option[308]" value="м" />
						<input type="hidden" name="option[324]" value="data_btn__21" />

						<input type="hidden" name="option[323]" value="data_btn__19" />
						<input type="hidden" name="option[325]" value="data_btn__8" />
						<input type="hidden" name="option[326]" value="т" />
						<input type="hidden" name="option[327]" value="е" />
						<input type="hidden" name="option[328]" value="data_btn__5" />

						<input type="hidden" name="option[329]" value="data_btn__7" />
						<input type="hidden" name="option[330]" value="data_btn__2" />
						<input type="hidden" name="option[331]" value="data_btn__1" />
						<input type="hidden" name="option[332]" value="data_btn__3" />
						<input type="hidden" name="option[322]" value="data_btn__4" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/2s_retina.jpg" alt="обичам те" data-img="/image/sets_big/2.jpg" />

					<div class="sets__item_title">обичам те</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#3 живей с кеф#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="data_btn__4" />
						<input type="hidden" name="option[321]" value="data_btn__1" />
						<input type="hidden" name="option[313]" value="data_btn__2" />
						<input type="hidden" name="option[318]" value="data_btn__22" />
						<input type="hidden" name="option[314]" value="data_btn__7" />

						<input type="hidden" name="option[319]" value="ж" />
						<input type="hidden" name="option[312]" value="и" />
						<input type="hidden" name="option[317]" value="в" />
						<input type="hidden" name="option[310]" value="е" />
						<input type="hidden" name="option[316]" value="й" />

						<input type="hidden" name="option[311]" value="data_btn__21" />
						<input type="hidden" name="option[315]" value="data_btn__19" />
						<input type="hidden" name="option[309]" value="с" />
						<input type="hidden" name="option[308]" value="data_btn__19" />
						<input type="hidden" name="option[324]" value="data_btn__8" />

						<input type="hidden" name="option[323]" value="data_btn__9" />
						<input type="hidden" name="option[325]" value="к" />
						<input type="hidden" name="option[326]" value="е" />
						<input type="hidden" name="option[327]" value="ф" />
						<input type="hidden" name="option[328]" value="data_btn__6" />

						<input type="hidden" name="option[329]" value="data_btn__7" />
						<input type="hidden" name="option[330]" value="data_btn__22" />
						<input type="hidden" name="option[331]" value="data_btn__1" />
						<input type="hidden" name="option[332]" value="data_btn__2" />
						<input type="hidden" name="option[322]" value="data_btn__4" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/3s_retina.jpg" alt="живей с кеф" data-img="/image/sets_big/3.jpg" />

					<div class="sets__item_title">живей с кеф</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#4 честит имен ден#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="ч" />
						<input type="hidden" name="option[321]" value="е" />
						<input type="hidden" name="option[313]" value="с" />
						<input type="hidden" name="option[318]" value="data_btn__1" />
						<input type="hidden" name="option[314]" value="data_btn__6" />

						<input type="hidden" name="option[319]" value="data_btn__2" />
						<input type="hidden" name="option[312]" value="data_btn__8" />
						<input type="hidden" name="option[317]" value="т" />
						<input type="hidden" name="option[310]" value="и" />
						<input type="hidden" name="option[316]" value="т" />

						<input type="hidden" name="option[311]" value="и" />
						<input type="hidden" name="option[315]" value="м" />
						<input type="hidden" name="option[309]" value="е" />
						<input type="hidden" name="option[308]" value="н" />
						<input type="hidden" name="option[324]" value="data_btn__22" />

						<input type="hidden" name="option[323]" value="data_btn__7" />
						<input type="hidden" name="option[325]" value="д" />
						<input type="hidden" name="option[326]" value="е" />
						<input type="hidden" name="option[327]" value="н" />
						<input type="hidden" name="option[328]" value="data_btn__7" />

						<input type="hidden" name="option[329]" value="data_btn__19" />
						<input type="hidden" name="option[330]" value="data_btn__4" />
						<input type="hidden" name="option[331]" value="data_btn__9" />
						<input type="hidden" name="option[332]" value="data_btn__4" />
						<input type="hidden" name="option[322]" value="data_btn__19" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/4s_retina.jpg" alt="честит имен ден" data-img="/image/sets_big/4.jpg" />

					<div class="sets__item_title">честит имен ден</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#5 за най добър мъж#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="data_btn__4" />
						<input type="hidden" name="option[321]" value="з" />
						<input type="hidden" name="option[313]" value="а" />
						<input type="hidden" name="option[318]" value="data_btn__22" />
						<input type="hidden" name="option[314]" value="data_btn__4" />

						<input type="hidden" name="option[319]" value="data_btn__5" />
						<input type="hidden" name="option[312]" value="н" />
						<input type="hidden" name="option[317]" value="а" />
						<input type="hidden" name="option[310]" value="й" />
						<input type="hidden" name="option[316]" value="data_btn__10" />

						<input type="hidden" name="option[311]" value="д" />
						<input type="hidden" name="option[315]" value="о" />
						<input type="hidden" name="option[309]" value="б" />
						<input type="hidden" name="option[308]" value="ъ" />
						<input type="hidden" name="option[324]" value="р" />

						<input type="hidden" name="option[323]" value="data_btn__1" />
						<input type="hidden" name="option[325]" value="м" />
						<input type="hidden" name="option[326]" value="ъ" />
						<input type="hidden" name="option[327]" value="ж" />
						<input type="hidden" name="option[328]" value="data_btn__6" />

						<input type="hidden" name="option[329]" value="data_btn__21" />
						<input type="hidden" name="option[330]" value="data_btn__7" />
						<input type="hidden" name="option[331]" value="data_btn__8" />
						<input type="hidden" name="option[332]" value="data_btn__3" />
						<input type="hidden" name="option[322]" value="data_btn__19" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/5s_retina.jpg" alt="за най добър мъж" data-img="/image/sets_big/5.jpg" />

					<div class="sets__item_title">за най добър мъж</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#6 добре че те има#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="data_btn__21" />
						<input type="hidden" name="option[321]" value="data_btn__7" />
						<input type="hidden" name="option[313]" value="data_btn__19" />
						<input type="hidden" name="option[318]" value="data_btn__7" />
						<input type="hidden" name="option[314]" value="data_btn__21" />

						<input type="hidden" name="option[319]" value="д" />
						<input type="hidden" name="option[312]" value="о" />
						<input type="hidden" name="option[317]" value="б" />
						<input type="hidden" name="option[310]" value="р" />
						<input type="hidden" name="option[316]" value="е" />

						<input type="hidden" name="option[311]" value="ч" />
						<input type="hidden" name="option[315]" value="е" />
						<input type="hidden" name="option[309]" value="data_btn__5" />
						<input type="hidden" name="option[308]" value="т" />
						<input type="hidden" name="option[324]" value="е" />

						<input type="hidden" name="option[323]" value="data_btn__9" />
						<input type="hidden" name="option[325]" value="и" />
						<input type="hidden" name="option[326]" value="м" />
						<input type="hidden" name="option[327]" value="а" />
						<input type="hidden" name="option[328]" value="data_btn__6" />

						<input type="hidden" name="option[329]" value="data_btn__19" />
						<input type="hidden" name="option[330]" value="data_btn__4" />
						<input type="hidden" name="option[331]" value="data_btn__21" />
						<input type="hidden" name="option[332]" value="data_btn__4" />
						<input type="hidden" name="option[322]" value="data_btn__19" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/6s_retina.jpg" alt="добре че те има" data-img="/image/sets_big/6.jpg" />

					<div class="sets__item_title">добре че те има</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#7 за теб обич моя#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="data_btn__4" />
						<input type="hidden" name="option[321]" value="з" />
						<input type="hidden" name="option[313]" value="а" />
						<input type="hidden" name="option[318]" value="data_btn__1" />
						<input type="hidden" name="option[314]" value="data_btn__2" />

						<input type="hidden" name="option[319]" value="data_btn__9" />
						<input type="hidden" name="option[312]" value="т" />
						<input type="hidden" name="option[317]" value="е" />
						<input type="hidden" name="option[310]" value="б" />
						<input type="hidden" name="option[316]" value="data_btn__6" />

						<input type="hidden" name="option[311]" value="data_btn__21" />
						<input type="hidden" name="option[315]" value="о" />
						<input type="hidden" name="option[309]" value="б" />
						<input type="hidden" name="option[308]" value="и" />
						<input type="hidden" name="option[324]" value="ч" />

						<input type="hidden" name="option[323]" value="data_btn__7" />
						<input type="hidden" name="option[325]" value="м" />
						<input type="hidden" name="option[326]" value="о" />
						<input type="hidden" name="option[327]" value="я" />
						<input type="hidden" name="option[328]" value="data_btn__9" />

						<input type="hidden" name="option[329]" value="data_btn__22" />
						<input type="hidden" name="option[330]" value="data_btn__19" />
						<input type="hidden" name="option[331]" value="data_btn__8" />
						<input type="hidden" name="option[332]" value="data_btn__4" />
						<input type="hidden" name="option[322]" value="data_btn__2" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/7s_retina.jpg" alt="за теб обич моя" data-img="/image/sets_big/7.jpg" />

					<div class="sets__item_title">за теб обич моя</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#8 заедно 3 години#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="з" />
						<input type="hidden" name="option[321]" value="а" />
						<input type="hidden" name="option[313]" value="е" />
						<input type="hidden" name="option[318]" value="data_btn__2" />
						<input type="hidden" name="option[314]" value="data_btn__7" />

						<input type="hidden" name="option[319]" value="data_btn__1" />
						<input type="hidden" name="option[312]" value="data_btn__9" />
						<input type="hidden" name="option[317]" value="д" />
						<input type="hidden" name="option[310]" value="н" />
						<input type="hidden" name="option[316]" value="о" />

						<input type="hidden" name="option[311]" value="data_btn__2" />
						<input type="hidden" name="option[315]" value="data_btn__8" />
						<input type="hidden" name="option[309]" value="3" />
						<input type="hidden" name="option[308]" value="data_btn__6" />
						<input type="hidden" name="option[324]" value="data_btn__3" />

						<input type="hidden" name="option[323]" value="г" />
						<input type="hidden" name="option[325]" value="о" />
						<input type="hidden" name="option[326]" value="д" />
						<input type="hidden" name="option[327]" value="data_btn__9" />
						<input type="hidden" name="option[328]" value="data_btn__1" />

						<input type="hidden" name="option[329]" value="data_btn__4" />
						<input type="hidden" name="option[330]" value="data_btn__3" />
						<input type="hidden" name="option[331]" value="и" />
						<input type="hidden" name="option[332]" value="н" />
						<input type="hidden" name="option[322]" value="и" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/8s_retina.jpg" alt="заедно 3 години" data-img="/image/sets_big/8.jpg" />

					<div class="sets__item_title">заедно 3 години</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#9 честит рожден ден#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="ч" />
						<input type="hidden" name="option[321]" value="е" />
						<input type="hidden" name="option[313]" value="с" />
						<input type="hidden" name="option[318]" value="data_btn__3" />
						<input type="hidden" name="option[314]" value="data_btn__4" />

						<input type="hidden" name="option[319]" value="data_btn__6" />
						<input type="hidden" name="option[312]" value="т" />
						<input type="hidden" name="option[317]" value="и" />
						<input type="hidden" name="option[310]" value="т" />
						<input type="hidden" name="option[316]" value="data_btn__5" />

						<input type="hidden" name="option[311]" value="р" />
						<input type="hidden" name="option[315]" value="о" />
						<input type="hidden" name="option[309]" value="ж" />
						<input type="hidden" name="option[308]" value="data_btn__10" />
						<input type="hidden" name="option[324]" value="data_btn__1" />

						<input type="hidden" name="option[323]" value="data_btn__7" />
						<input type="hidden" name="option[325]" value="data_btn__2" />
						<input type="hidden" name="option[326]" value="д" />
						<input type="hidden" name="option[327]" value="е" />
						<input type="hidden" name="option[328]" value="н" />

						<input type="hidden" name="option[329]" value="data_btn__21" />
						<input type="hidden" name="option[330]" value="д" />
						<input type="hidden" name="option[331]" value="е" />
						<input type="hidden" name="option[332]" value="н" />
						<input type="hidden" name="option[322]" value="data_btn__12" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/9s_retina.jpg" alt="честит рожден ден" data-img="/image/sets_big/9.jpg" />

					<div class="sets__item_title">честит рожден ден</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#10 честит юбилей#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="ч" />
						<input type="hidden" name="option[321]" value="е" />
						<input type="hidden" name="option[313]" value="с" />
						<input type="hidden" name="option[318]" value="data_btn__21" />
						<input type="hidden" name="option[314]" value="data_btn__6" />

						<input type="hidden" name="option[319]" value="data_btn__4" />
						<input type="hidden" name="option[312]" value="data_btn__1" />
						<input type="hidden" name="option[317]" value="т" />
						<input type="hidden" name="option[310]" value="и" />
						<input type="hidden" name="option[316]" value="т" />

						<input type="hidden" name="option[311]" value="ю" />
						<input type="hidden" name="option[315]" value="б" />
						<input type="hidden" name="option[309]" value="и" />
						<input type="hidden" name="option[308]" value="data_btn__3" />
						<input type="hidden" name="option[324]" value="data_btn__7" />

						<input type="hidden" name="option[323]" value="data_btn__9" />
						<input type="hidden" name="option[325]" value="л" />
						<input type="hidden" name="option[326]" value="е" />
						<input type="hidden" name="option[327]" value="й" />
						<input type="hidden" name="option[328]" value="data_btn__9" />

						<input type="hidden" name="option[329]" value="data_btn__19" />
						<input type="hidden" name="option[330]" value="data_btn__4" />
						<input type="hidden" name="option[331]" value="data_btn__8" />
						<input type="hidden" name="option[332]" value="data_btn__2" />
						<input type="hidden" name="option[322]" value="data_btn__10" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/10s_retina.jpg" alt="честит юбилей" data-img="/image/sets_big/10.jpg" />

					<div class="sets__item_title">честит юбилей</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#11 чрд тате обичаме те#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="data_btn__7" />
						<input type="hidden" name="option[321]" value="ч" />
						<input type="hidden" name="option[313]" value="р" />
						<input type="hidden" name="option[318]" value="д" />
						<input type="hidden" name="option[314]" value="data_btn__4" />

						<input type="hidden" name="option[319]" value="т" />
						<input type="hidden" name="option[312]" value="а" />
						<input type="hidden" name="option[317]" value="т" />
						<input type="hidden" name="option[310]" value="е" />
						<input type="hidden" name="option[316]" value="data_btn__22" />

						<input type="hidden" name="option[311]" value="о" />
						<input type="hidden" name="option[315]" value="б" />
						<input type="hidden" name="option[309]" value="и" />
						<input type="hidden" name="option[308]" value="data_btn__1" />
						<input type="hidden" name="option[324]" value="data_btn__5" />

						<input type="hidden" name="option[323]" value="data_btn__6" />
						<input type="hidden" name="option[325]" value="ч" />
						<input type="hidden" name="option[326]" value="а" />
						<input type="hidden" name="option[327]" value="м" />
						<input type="hidden" name="option[328]" value="е" />

						<input type="hidden" name="option[329]" value="data_btn__4" />
						<input type="hidden" name="option[330]" value="data_btn__2" />
						<input type="hidden" name="option[331]" value="т" />
						<input type="hidden" name="option[332]" value="е" />
						<input type="hidden" name="option[322]" value="data_btn__7" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/11s_retina.jpg" alt="чрд тате обичаме те" data-img="/image/sets_big/11.jpg" />

					<div class="sets__item_title">чрд тате обичаме те</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>

				{#12 чрд мила мамо#}
				<div class="sets__item">
					<div class="sets__item_inputs">
						<input type="hidden" name="product_id" value="56" />
						<input type="hidden" name="quantity" value="1" />

						<input type="hidden" name="option[320]" value="data_btn__4" />
						<input type="hidden" name="option[321]" value="data_btn__1" />
						<input type="hidden" name="option[313]" value="data_btn__3" />
						<input type="hidden" name="option[318]" value="data_btn__2" />
						<input type="hidden" name="option[314]" value="data_btn__7" />

						<input type="hidden" name="option[319]" value="data_btn__9" />
						<input type="hidden" name="option[312]" value="ч" />
						<input type="hidden" name="option[317]" value="р" />
						<input type="hidden" name="option[310]" value="д" />
						<input type="hidden" name="option[316]" value="data_btn__9" />

						<input type="hidden" name="option[311]" value="м" />
						<input type="hidden" name="option[315]" value="и" />
						<input type="hidden" name="option[309]" value="л" />
						<input type="hidden" name="option[308]" value="а" />
						<input type="hidden" name="option[324]" value="data_btn__8" />

						<input type="hidden" name="option[323]" value="data_btn__7" />
						<input type="hidden" name="option[325]" value="м" />
						<input type="hidden" name="option[326]" value="а" />
						<input type="hidden" name="option[327]" value="м" />
						<input type="hidden" name="option[328]" value="о" />

						<input type="hidden" name="option[329]" value="data_btn__7" />
						<input type="hidden" name="option[330]" value="data_btn__2" />
						<input type="hidden" name="option[331]" value="data_btn__1" />
						<input type="hidden" name="option[332]" value="data_btn__3" />
						<input type="hidden" name="option[322]" value="data_btn__4" />
					</div>

					<img class="js-img_scroll" src="/image/dumm.png" data-img-src="/image/sets_big/12s_retina.jpg" alt="чрд мила мамо" data-img="/image/sets_big/12.jpg" />

					<div class="sets__item_title">чрд мила мамо</div>

					<div class="sets__btn js-set__add_to_cart">{{ text_order_it }}</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="sets__popup">
	<div class="sets__popup_bg js-sets__popup"></div>

	<div class="sets__popup_item">
		<div class="btn btn__close js-sets__popup">
			<span></span>
			<span></span>
		</div>

		<div class="sets__popup__content"></div>
	</div>
</div>


